:root {
  --primaryColor: black;
  --secondaryColor: White;
  --thirdColor: #e4e4e4
}

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
}

.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

/* Typography */

.header-standard h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  font-size: 0.9rem;
  font-weight: 700;
}

.btn-pro {
  font-size: 0.75rem;
}

.btn-random {
  text-transform: uppercase;
}

.hex-color {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.4rem;
}

.Toastify__toast { 
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .header-standard h1 {
    font-size: 2.5rem;
  }
  
  .btn {
    font-size: 0.75rem;
  }

  .btn-pro {
    font-size: 0.5rem;
  }

  .hex-color {
    font-size: 0.75rem;
  }

  .Toastify__toast { 
    font-size: 1.1rem;
  }
}

/* ====== LAYOUT =====  */

/* Header */
.btn {
  padding: 0.75em 1.5em;
  border-radius: 10px;
  border: 1px solid --thirdColor;
  transform: scale(1);
  transition: all 200ms;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.9);
}

.btn:focus{
  outline: none;
  transform: scale(1);
}

.header {
  flex: 1;
}

.header-standard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding:1em 0 2.5em;
}

.header-standard h1 {
  margin-bottom: 0.75em;
  text-align: center;
}

.header-standard .btn-header-container {
  align-self: center;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-pro {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  transition: all 150ms;
}

.btn-pro:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor)
} 

@media (max-width: 600px) {
  .header-standard .btn-header-container {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .btn-pro {
    order: 0;
    margin-bottom: 1rem;
  }
  .btn-random {
    order: 1
  }
}

/* Split and banner */

.split-container {
  flex: 5;
}

.split {
  display: flex;
  height: 100%;
}

.gutter { /* class inside of Split component */
  background-color: var(--thirdColor);
  cursor: col-resize;
}

.color-banner {
  display: flex;
  justify-content: center;
  align-items: center;

}
.color-banner-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Toast */

.Toastify__toast-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem
}

.Toastify__toast { /* class inside of Toastify component */
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  color: black;
  background-color: var(--secondaryColor);
  width: 80%;
  /* padding: 0; */
}